@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}
.app {
  background-color: #18191A;
}
.app__content {
  display: flex;
  padding-top: 60px;
  justify-content: space-between;
  
}
/* .app__wall  */